{
  "name": "DXR Jenkins",
  "description": "DXR indexer scheduling system.",
  "repository": {
    "url": "https://github.com/mozilla-platform-ops/dxr-infra",
    "license": "MPL2"
  },
  "participate": {
    "docs": "https://mana.mozilla.org/wiki/display/websites/dxr.mozilla.org",
    "irc": "irc://irc.mozilla.org/#static",
    "irc-contacts": [
        "fubar",
        "erikrose"
    ]
  },
  "bugs": {
    "list": "https://bugzilla.mozilla.org/buglist.cgi?product=Webtools&component=DXR&resolution=---",
    "report": "https://bugzilla.mozilla.org/enter_bug.cgi?product=Webtools&component=DXR"
  },
  "urls": {
    "prod": "https://{{ domain }}"
  },
  "keywords": [
    "Jenkins",
    "Python",
    "Ansible"
  ]
}
