server {
    listen       80;
    server_name  localhost {{ domain }};

    access_log  /var/log/nginx/{{ domain }}/access.log  main;
    error_log   /var/log/nginx/{{ domain }}/error.log  warn;

    # "cookie" session storage won't work as cookies will be >4k,
    # which then will be truncated and fail decoding
    set $session_storage shm;
    set $session_cookie_persistent on;
    set $session_cookie_path "/";

    # SSI check must be off or Nginx will kill our sessions when
    # using lua-resty-session (which we do use)
    set $session_check_ssi off;
    set $session_secret "{{ session_secret }}";

    # Where your OIDC config is
    set $config_loader "/usr/local/openresty/nginx/conf/conf.d/ldap_pwless.lua";

    location = /contribute.json {
        root /var/www/html;
    }

    location / {
        access_by_lua_file '/usr/local/openresty/nginx/conf/openidc_layer.lua';

        proxy_set_header        Host $host:$server_port;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto https;

        # Mitigate httpoxy attack
        proxy_set_header        Proxy "";

        # Fix the "It appears that your reverse proxy set up is broken" error.
        proxy_pass          http://127.0.0.1:8080;
        proxy_read_timeout  90;

        proxy_redirect      http://127.0.0.1:8080 https://{{ domain }};
    }
}
