# UserAgents we will normally want to ignore (internal & monitoring) (bug 1010323)
BrowserMatch ^HTTP-Monitor/ dontlog
BrowserMatch ^collectd/     dontlog

# Don't log connections from localhost either
SetEnvIf Remote_Addr "127\.0\.0\.1" dontlog
SetEnvIf Remote_Addr "::1" dontlog

SetEnv force-proxy-request-1.0 1
SetEnv proxy-nokeepalive 1

<VirtualHost *:80>
  ServerName {{ domain }}
  ServerAlias {{ ansible_fqdn }}
  CustomLog /var/log/httpd/{{ domain }}/access_log proxy env=!dontlog
  ErrorLog /var/log/httpd/{{ domain }}/error_log

  SetEnvIf SSLSessionID .+ HTTPS=on

  # 1310198
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"

  # needs apache >= 2.2.18
  #AllowEncodedSlashes NoDecode
  AllowEncodedSlashes On

  ProxyPass /contribute.json "!"
  ProxyPass /{{ jenkins_prefix }} http://{{ ansible_fqdn }}:8080/{{ jenkins_prefix }} nocanon Keepalive=On
  ProxyPassReverse /{{ jenkins_prefix }} http://{{ ansible_fqdn }}:8080/{{ jenkins_prefix }}
  ProxyRequests Off
  RequestHeader set X-Forwarded-Proto "https"

  <Proxy http://localhost:8080/*>
    Order deny,allow
    Allow from all
  </Proxy>
</VirtualHost>
