[DXR]
www_root = /
workers = 4
default_tree = mozilla-central
disabled_plugins = 
enabled_plugins = *
es_hosts = http://node74.bunker.scl3.mozilla.com:9200/ http://node75.bunker.scl3.mozilla.com:9200/ http://node76.bunker.scl3.mozilla.com:9200/ http://node77.bunker.scl3.mozilla.com:9200/
es_catalog_replicas = 4
es_catalog_index = dxr_catalog
es_index = dxr_cold_{format}_{tree}_{unique}
es_alias = dxr_{format}_{tree}
es_indexing_timeout = 120
es_indexing_retries = 5
es_refresh_interval = 30


[mozilla-central]
source_folder = src/mozilla-central
object_folder = obj/mozilla-central
es_index = dxr_hot_{format}_{tree}_{unique}
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach mercurial-setup -u && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/mozilla-central/obj-x86_64-pc-linux-gnu/dist/include
    include_folders = src/mozilla-central/obj-x86_64-pc-linux-gnu/dist/idl
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-aurora]
source_folder = src/releases/mozilla-aurora
object_folder = obj/releases/mozilla-aurora
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach mercurial-setup -u && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/releases/mozilla-aurora/obj-x86_64-pc-linux-gnu/dist/include
    include_folders = src/releases/mozilla-aurora/obj-x86_64-pc-linux-gnu/dist/idl
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-beta]
source_folder = src/releases/mozilla-beta
object_folder = obj/releases/mozilla-beta
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/releases/mozilla-beta/obj-x86_64-unknown-linux-gnu/dist/include
    include_folders = src/releases/mozilla-beta/obj-x86_64-unknown-linux-gnu/dist/idl
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-release]
source_folder = src/releases/mozilla-release
object_folder = obj/releases/mozilla-release
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/releases/mozilla-release/obj-x86_64-unknown-linux-gnu/dist/include
    include_folders = src/releases/mozilla-release/obj-x86_64-unknown-linux-gnu/dist/idl
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-b2g18]
source_folder = src/releases/mozilla-b2g18
object_folder = obj/releases/mozilla-b2g18
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-b2g26_v1_2]
source_folder = src/releases/mozilla-b2g26_v1_2
object_folder = obj/releases/mozilla-b2g26_v1_2
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-b2g28_v1_3]
source_folder = src/releases/mozilla-b2g28_v1_3
object_folder = obj/releases/mozilla-b2g28_v1_3
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-b2g30_v1_4]
source_folder = src/releases/mozilla-b2g30_v1_4
object_folder = obj/releases/mozilla-b2g30_v1_4
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-b2g32_v2_0]
source_folder = src/releases/mozilla-b2g32_v2_0
object_folder = obj/releases/mozilla-b2g32_v2_0
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-b2g34_v2_1]
source_folder = src/releases/mozilla-b2g34_v2_1
object_folder = obj/releases/mozilla-b2g34_v2_1
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-b2g37_v2_2]
source_folder = src/releases/mozilla-b2g37_v2_2
object_folder = obj/releases/mozilla-b2g37_v2_2
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-b2g44_v2_5]
source_folder = src/releases/mozilla-b2g44_v2_5
object_folder = obj/releases/mozilla-b2g44_v2_5
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-esr10]
source_folder = src/releases/mozilla-esr10
object_folder = obj/releases/mozilla-esr10
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-esr17]
source_folder = src/releases/mozilla-esr17
object_folder = obj/releases/mozilla-esr17
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-esr24]
source_folder = src/releases/mozilla-esr24
object_folder = obj/releases/mozilla-esr24
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-esr31]
source_folder = src/releases/mozilla-esr31
object_folder = obj/releases/mozilla-esr31
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-esr38]
source_folder = src/releases/mozilla-esr38
object_folder = obj/releases/mozilla-esr38
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-esr45]
source_folder = src/releases/mozilla-esr45
object_folder = obj/releases/mozilla-esr45
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/releases/mozilla-esr45/obj-x86_64-unknown-linux-gnu/dist/include
    include_folders = src/releases/mozilla-esr45/obj-x86_64-unknown-linux-gnu/dist/idl
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-esr52]
source_folder = src/releases/mozilla-esr52
object_folder = obj/releases/mozilla-esr52
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/releases/mozilla-esr52/obj-x86_64-unknown-linux-gnu/dist/include
    include_folders = src/releases/mozilla-esr52/obj-x86_64-unknown-linux-gnu/dist/idl
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-central]
source_folder = src/comm-central
object_folder = obj/comm-central
es_index = dxr_hot_{format}_{tree}_{unique}
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && python client.py checkout && ./mozilla/mach mercurial-setup -u && ./mozilla/mach clobber && ./mozilla/mach build
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-aurora]
source_folder = src/releases/comm-aurora
object_folder = obj/releases/comm-aurora
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && python client.py checkout && ./mozilla/mach clobber && ./mozilla/mach build
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-beta]
source_folder = src/releases/comm-beta
object_folder = obj/releases/comm-beta
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && python client.py checkout && ./mozilla/mach clobber && ./mozilla/mach build
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-release]
source_folder = src/releases/comm-release
object_folder = obj/releases/comm-release
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && python client.py checkout && ./mozilla/mach clobber && ./mozilla/mach build
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-esr10]
source_folder = src/releases/comm-esr10
object_folder = obj/releases/comm-esr10
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-esr17]
source_folder = src/releases/comm-esr17
object_folder = obj/releases/comm-esr17
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-esr24]
source_folder = src/releases/comm-esr24
object_folder = obj/releases/comm-esr24
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-esr31]
source_folder = src/releases/comm-esr31
object_folder = obj/releases/comm-esr31
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-esr38]
source_folder = src/releases/comm-esr38
object_folder = obj/releases/comm-esr38
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-esr45]
source_folder = src/releases/comm-esr45
object_folder = obj/releases/comm-esr45
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && python client.py checkout && ./mozilla/mach clobber && ./mozilla/mach build
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-esr52]
source_folder = src/releases/comm-esr52
object_folder = obj/releases/comm-esr52
disabled_plugins = xpidl
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && python client.py checkout && ./mozilla/mach clobber && ./mozilla/mach build
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[build-central]
source_folder = src/build
object_folder = obj/build
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[hgcustom_version-control-tools]
source_folder = src/hgcustom/version-control-tools
object_folder = obj/hgcustom/version-control-tools
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[rust]
workers = 2
source_folder = src/rust-lang/rust
object_folder = obj/rust-lang/rust
disabled_plugins = xpidl clang rust buglink
ignore_patterns = /compiletest/ /doc/ /etc/ /gyp/ .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = 
  [[buglink]]
    url = https://github.com/rust-lang/rust/issues/%s
    regex = """#([0-9]+)"""
    name = github
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages

[rustfmt]
source_folder = src/rustfmt
object_folder = obj/rustfmt
disabled_plugins = xpidl buglink
ignore_patterns = /target/ /tests/ /data/ .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder/src && cargo clean && RUSTC=/home/jenkins/dxr/dxr/plugins/rust/dxr-rustc.sh cargo build --verbose
  [[buglink]]
    url = https://github.com/rust-lang-nursery/rustfmt/issues/%s
    regex = """#([0-9]+)"""
    name = github
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages

[servo]
source_folder = src/servo/servo
object_folder = obj/servo/servo
disabled_plugins = xpidl buglink
build_command = 
  [[buglink]]
    url = https://github.com/servo/servo/issues/%s
    regex = """#([0-9]+)"""
    name = github
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages

[nss]
source_folder = src/nss
object_folder = obj/nss
disabled_plugins = xpidl
build_command = cd $source_folder/nss && env CPATH=/usr/include/x86_64-linux-gnu make NS_USE_GCC=0 CC=clang CXX=clang++ USE_64=1 NSS_DISABLE_GTESTS=1 nss_build_all
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[gaia]
source_folder = src/gaia
object_folder = obj/gaia
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[classic]
source_folder = src/cvs/classic
object_folder = obj/cvs/classic
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[js]
source_folder = src/cvs/js
object_folder = obj/cvs/js
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[security]
source_folder = src/cvs/security
object_folder = obj/cvs/security
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[webtools]
source_folder = src/cvs/webtools
object_folder = obj/cvs/webtools
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla]
source_folder = src/cvs/mozilla
object_folder = obj/cvs/mozilla
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[nspr-cvs]
source_folder = src/cvs/nspr-cvs
object_folder = obj/cvs/nspr-cvs
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla1.7]
source_folder = src/cvs/mozilla1.7
object_folder = obj/cvs/mozilla1.7
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla1.8]
source_folder = src/cvs/mozilla1.8
object_folder = obj/cvs/mozilla1.8
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla1.8.0]
source_folder = src/cvs/mozilla1.8.0
object_folder = obj/cvs/mozilla1.8.0
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[seamonkey]
source_folder = src/cvs/seamonkey
object_folder = obj/cvs/seamonkey
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[aviarybranch]
source_folder = src/cvs/aviarybranch
object_folder = obj/cvs/aviarybranch
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[aviary101branch]
source_folder = src/cvs/aviary101branch
object_folder = obj/cvs/aviary101branch
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[firefox]
source_folder = src/cvs/firefox
object_folder = obj/cvs/firefox
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[firefox2]
source_folder = src/cvs/firefox2
object_folder = obj/cvs/firefox2
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[thunderbird]
source_folder = src/cvs/thunderbird
object_folder = obj/cvs/thunderbird
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[fuel]
source_folder = src/cvs/fuel
object_folder = obj/cvs/fuel
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-org]
source_folder = src/cvs/mozilla-org
object_folder = obj/cvs/mozilla-org
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[l10n-central]
source_folder = src/l10n/l10n-central
object_folder = obj/l10n/l10n-central
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[l10n-mozilla-aurora]
source_folder = src/l10n/mozilla-aurora
object_folder = obj/l10n/mozilla-aurora
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[l10n-mozilla-beta]
source_folder = src/l10n/mozilla-beta
object_folder = obj/l10n/mozilla-beta
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[l10n-mozilla-release]
source_folder = src/l10n/mozilla-release
object_folder = obj/l10n/mozilla-release
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla1.9.1]
source_folder = src/releases/mozilla-1.9.1
object_folder = obj/releases/mozilla-1.9.1
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla1.9.2]
source_folder = src/releases/mozilla-1.9.2
object_folder = obj/releases/mozilla-1.9.2
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla2.0]
source_folder = src/releases/mozilla-2.0
object_folder = obj/releases/mozilla-2.0
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[addons]
source_folder = src/addons
object_folder = obj/addons
es_shards = 10
disabled_plugins = xpidl buglink clang extmatch rust python js pygmentize
ignore_patterns = enamdict.json *.svg .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[webtools-central]
source_folder = src/webtools/webtools
object_folder = obj/webtools/webtools
disabled_plugins = xpidl buglink clang extmatch rust python
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[incubator-central]
workers = 2
source_folder = src/incubator/incubator
object_folder = obj/incubator/incubator
disabled_plugins = xpidl buglink clang extmatch rust python
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[labs-central]
source_folder = src/labs/labs
object_folder = obj/labs/labs
disabled_plugins = xpidl buglink clang extmatch rust python
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[services-central]
source_folder = src/services/services
object_folder = obj/services/services
disabled_plugins = xpidl buglink clang extmatch rust python
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[camino]
source_folder = src/camino
object_folder = obj/camino
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mobile-browser]
source_folder = src/mobile-browser
object_folder = obj/mobile-browser
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[jss]
source_folder = src/projects/jss
object_folder = obj/projects/jss
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[python-nss]
source_folder = src/projects/python-nss
object_folder = obj/projects/python-nss
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozillasvn]
source_folder = src/mozillasvn
object_folder = obj/mozillasvn
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozillasvn-all]
source_folder = src/mozillasvn-all
object_folder = obj/mozillasvn-all
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[tamarin-central]
source_folder = src/tamarin-central
object_folder = obj/tamarin-central
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-1.9.1]
source_folder = src/releases/comm-1.9.1
object_folder = obj/releases/comm-1.9.1
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-1.9.2]
source_folder = src/releases/comm-1.9.2
object_folder = obj/releases/comm-1.9.2
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-2.0]
source_folder = src/releases/comm-2.0
object_folder = obj/releases/comm-2.0
disabled_plugins = xpidl
build_command = 
  [[python]]
    python_path = /home/jenkins/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

