[DXR]
www_root = /
workers = 4
default_tree = mozilla-central
disabled_plugins = 
enabled_plugins = *
es_hosts = http://node47.bunker.scl3.mozilla.com:9200/http://node48.bunker.scl3.mozilla.com:9200/http://node49.bunker.scl3.mozilla.com:9200/
es_catalog_replicas = 4
es_catalog_index = dxr_catalog
es_index = dxr_hot_{format}_{tree}_{unique}
es_alias = dxr_{format}_{tree}
es_indexing_timeout = 120
es_refresh_interval = 30


[mozilla-central]
source_folder = src/mozilla-central
object_folder = obj/mozilla-central
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._*
build_command = cd $source_folder && ./mach mercurial-setup -u && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[comm-central]
source_folder = src/comm-central
object_folder = obj/comm-central
build_command = cd $source_folder && python client.py checkout && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build-central]
source_folder = src/build
object_folder = obj/build
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[hgcustom_version-control-tools]
source_folder = src/hgcustom/version-control-tools
object_folder = obj/hgcustom/version-control-tools
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[test-hgcustom_version-control-tools]
source_folder = src/hgcustom/version-control-tools-test
object_folder = obj/hgcustom/version-control-tools-test
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[rust]
source_folder = src/rust-lang/rust
object_folder = obj/rust-lang/rust
build_command = cd $source_folder && ./configure --disable-libcpp --enable-ccache --enable-clang && make -j{workers}
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[test-mozilla-central]
source_folder = src/mozilla-central-test
object_folder = obj/mozilla-central-test
disabled_plugins = rust
ignore_patterns = all-tests.json
build_command = cd $source_folder && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_ash-mozharness]
source_folder = src/build/ash-mozharness
object_folder = obj/build/ash-mozharness
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_autoland]
source_folder = src/build/autoland
object_folder = obj/build/autoland
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_braindump]
source_folder = src/build/braindump
object_folder = obj/build/braindump
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_buildapi]
source_folder = src/build/buildapi
object_folder = obj/build/buildapi
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_buildbot]
source_folder = src/build/buildbot
object_folder = obj/build/buildbot
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_buildbot-configs]
source_folder = src/build/buildbot-configs
object_folder = obj/build/buildbot-configs
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_buildbotcustom]
source_folder = src/build/buildbotcustom
object_folder = obj/build/buildbotcustom
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_cloud-tools]
source_folder = src/build/cloud-tools
object_folder = obj/build/cloud-tools
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_compare-locales]
source_folder = src/build/compare-locales
object_folder = obj/build/compare-locales
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_fork-hg-git]
source_folder = src/build/fork-hg-git
object_folder = obj/build/fork-hg-git
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_mapper]
source_folder = src/build/mapper
object_folder = obj/build/mapper
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_mozharness]
source_folder = src/build/mozharness
object_folder = obj/build/mozharness
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_mozpool]
source_folder = src/build/mozpool
object_folder = obj/build/mozpool
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_nagios-tools]
source_folder = src/build/nagios-tools
object_folder = obj/build/nagios-tools
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_opsi-package-sources]
source_folder = src/build/opsi-package-sources
object_folder = obj/build/opsi-package-sources
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_partner-repacks]
source_folder = src/build/partner-repacks
object_folder = obj/build/partner-repacks
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_preproduction]
source_folder = src/build/preproduction
object_folder = obj/build/preproduction
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_puppet]
source_folder = src/build/puppet
object_folder = obj/build/puppet
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_puppet-manifests]
source_folder = src/build/puppet-manifests
object_folder = obj/build/puppet-manifests
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_relabs-puppet]
source_folder = src/build/relabs-puppet
object_folder = obj/build/relabs-puppet
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_relengapi]
source_folder = src/build/relengapi
object_folder = obj/build/relengapi
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_rpm-sources]
source_folder = src/build/rpm-sources
object_folder = obj/build/rpm-sources
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_serves3]
source_folder = src/build/serveS3
object_folder = obj/build/serveS3
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_slaveapi]
source_folder = src/build/slaveapi
object_folder = obj/build/slaveapi
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_slave_health]
source_folder = src/build/slave_health
object_folder = obj/build/slave_health
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_talos]
source_folder = src/build/talos
object_folder = obj/build/talos
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_tools]
source_folder = src/build/tools
object_folder = obj/build/tools
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_tooltool]
source_folder = src/build/tooltool
object_folder = obj/build/tooltool
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_tupperware]
source_folder = src/build/tupperware
object_folder = obj/build/tupperware
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

[build_twisted]
source_folder = src/build/twisted
object_folder = obj/build/twisted
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    regex = "(?i)bug\s+#?([0-9]+)"
    name = bugzilla

