[DXR]
www_root = /
workers = 4
default_tree = mozilla-central
disabled_plugins = xpidl
enabled_plugins = *
es_hosts = http://node47.bunker.scl3.mozilla.com:9200/ http://node48.bunker.scl3.mozilla.com:9200/ http://node49.bunker.scl3.mozilla.com:9200/
es_catalog_replicas = 4
es_catalog_index = dxr_catalog
es_index = dxr_cold_{format}_{tree}_{unique}
es_alias = dxr_{format}_{tree}
es_indexing_timeout = 120
es_refresh_interval = 30


[mozilla-central]
source_folder = src/mozilla-central
object_folder = obj/mozilla-central
es_index = dxr_hot_{format}_{tree}_{unique}
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach mercurial-setup -u && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/mozilla-central/obj-x86_64-pc-linux-gnu/dist/include
    include_folders = src/mozilla-central/obj-x86_64-pc-linux-gnu/dist/idl
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-aurora]
source_folder = src/releases/mozilla-aurora
object_folder = obj/releases/mozilla-aurora
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach mercurial-setup -u && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/releases/mozilla-aurora/obj-x86_64-unknown-linux-gnu/dist/include
    include_folders = src/releases/mozilla-aurora/obj-x86_64-unknown-linux-gnu/dist/idl
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-beta]
source_folder = src/releases/mozilla-beta
object_folder = obj/releases/mozilla-beta
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach mercurial-setup -u && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/releases/mozilla-beta/obj-x86_64-unknown-linux-gnu/dist/include
    include_folders = src/releases/mozilla-beta/obj-x86_64-unknown-linux-gnu/dist/idl
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-release]
source_folder = src/releases/mozilla-release
object_folder = obj/releases/mozilla-release
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach mercurial-setup -u && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/releases/mozilla-release/obj-x86_64-unknown-linux-gnu/dist/include
    include_folders = src/releases/mozilla-release/obj-x86_64-unknown-linux-gnu/dist/idl
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[mozilla-esr45]
source_folder = src/releases/mozilla-esr45
object_folder = obj/releases/mozilla-esr45
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./mach mercurial-setup -u && ./mach clobber && make -f client.mk build MOZ_MAKE_FLAGS="-s -j{workers}"
  [[xpidl]]
    header_path = src/releases/mozilla-esr45/obj-x86_64-unknown-linux-gnu/dist/include
    include_folders = src/releases/mozilla-esr45/obj-x86_64-unknown-linux-gnu/dist/idl
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[comm-central]
source_folder = src/comm-central
object_folder = obj/comm-central
es_index = dxr_hot_{format}_{tree}_{unique}
ignore_patterns = all-tests.json .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && python client.py checkout && ./mozilla/mach mercurial-setup -u && ./mozilla/mach clobber && ./mozilla/mach build
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[build-central]
source_folder = src/build
object_folder = obj/build
ignore_patterns = *.svg .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[hgcustom_version-control-tools]
source_folder = src/hgcustom/version-control-tools
object_folder = obj/hgcustom/version-control-tools
build_command = 
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

[rust]
source_folder = src/rust-lang/rust
object_folder = obj/rust-lang/rust
es_index = dxr_hot_{format}_{tree}_{unique}
ignore_patterns = /compiletest/ /doc/ /etc/ /gyp/ .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder && ./configure --disable-libcpp --enable-ccache --enable-clang && make clean && make -j4
  [[buglink]]
    url = https://github.com/rust-lang/rust/issues/%s
    regex = #([0-9]+)
    name = github
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages

[rustfmt]
source_folder = src/rustfmt
object_folder = obj/rustfmt
ignore_patterns = /target/ /tests/ /data/ .hg .git CVS .svn .bzr .deps .libs .DS_Store .nfs* *~ ._* *.pyc
build_command = cd $source_folder/src && RUSTC=/builds/dxr-build-env/dxr/dxr/plugins/rust/dxr-rustc.sh cargo build --verbose
  [[buglink]]
    url = https://github.com/rust-lang-nursery/rustfmt/issues/%s
    regex = #([0-9]+)
    name = github
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages

[nss]
source_folder = src/nss
object_folder = obj/nss
build_command = cd $source_folder/nss && env CPATH=/usr/include/x86_64-linux-gnu make NS_USE_GCC=0 CC=clang CXX=clang++ USE_64=1 NSS_DISABLE_GTESTS=1 nss_build_all
  [[python]]
    python_path = /builds/dxr-build-env/venv/lib/python2.7/site-packages
  [[buglink]]
    url = https://bugzilla.mozilla.org/show_bug.cgi?id=%s
    name = bugzilla

