[DXR]
www_root=/
default_tree=mozilla-central
workers=6
disabled_plugins = omniglot
enabled_plugins = clang pygmentize urllink
es_hosts = http://node46.bunker.scl3.mozilla.com:9200/
           http://node47.bunker.scl3.mozilla.com:9200/
           http://node48.bunker.scl3.mozilla.com:9200/
           http://node49.bunker.scl3.mozilla.com:9200/
es_catalog_replicas = 4
es_catalog_index = dxr_catalog
es_index = dxr_hot_{format}_{tree}_{unique}
es_alias = dxr_{format}_{tree}
es_indexing_timeout = 60
es_refresh_interval = 60

[mozilla-central]
source_folder=src/mozilla-central
object_folder=obj/mozilla-central
[[buglink]]
url=http://bugzilla.mozilla.org/show_bug.cgi?id=%s
name=bugzilla.mozilla.org

