Listen 81

<VirtualHost *:81>
  ServerName {{ domain }}
  ServerAlias {{ alias }}
  CustomLog /var/log/httpd/{{ domain }}/access_log proxy env=!dontlog
  ErrorLog /var/log/httpd/{{ domain }}/error_log

  DocumentRoot {{ approot }}
  <Directory "{{ approot }}">
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>
  # Rewrite rules are handled by .htaccess file in mxrtodxr repo
</VirtualHost>
