http_proxy=http://{{ proxy_host }}:{{ proxy_port }}/
https_proxy=http://{{ proxy_host }}:{{ proxy_port }}/
no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com, 10.0.0.0/8, .scl3.mozilla.com, .phx1.mozilla.com, .mdc1.mozilla.com, *.scl3.mozilla.com, *.phx1.mozilla.com, *.mdc1.mozilla.com, 169.254.169.254, .mdc2.mozilla.com, *.mdc2.mozilla.com"
HTTP_PROXY=http://{{ proxy_host }}:{{ proxy_port }}/
HTTPS_PROXY=http://{{ proxy_host }}:{{ proxy_port }}/
NO_PROXY="localhost,127.0.0.1,localaddress,.localdomain.com, 10.0.0.0/8, .scl3.mozilla.com, .phx1.mozilla.com, .mdc1.mozilla.com, *.scl3.mozilla.com, *.phx1.mozilla.com, *.mdc1.mozilla.com, 169.254.169.254, .mdc2.mozilla.com, *.mdc2.mozilla.com"
