<?xml version="1.1" encoding="UTF-8"?>
<slave>
  <name>{{ hostvars[item]['inventory_hostname_short'] }}</name>
  <description>DXR indexing slave</description>
  <remoteFS>{{ jenkins_dir }}</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.CommandLauncher" plugin="command-launcher@1.2">
      <agentCommand>ssh {{ hostvars[item]['inventory_hostname'] }} java -jar {{ jenkins_dir }}/slave.jar</agentCommand>
  </launcher>
  <label></label>
  <nodeProperties/>
  <userId>ansible</userId>
</slave>
