[DXR]
www_root = {{ dxr.www_root }}
workers = {{ dxr.workers }}
default_tree = {{ dxr.default_tree }}
disabled_plugins = {{ dxr.disabled_plugins }}
enabled_plugins = {{ dxr.enabled_plugins }}
es_hosts = {% for h in dxr.es_hosts -%} {{ h }} {%- endfor %}
es_catalog_replicas = {{ dxr.es_catalog_replicas }}
es_catalog_index = {{ dxr.es_catalog_index }}
es_index = {{ dxr.es_index }}
es_alias = {{ dxr.es_alias }}
es_indexing_timeout = {{ dxr.es_indexing_timeout }}
es_refresh_interval = {{ dxr.es_refresh_interval }}

{% for t in trees if not t.disable %}
[{{ t.name }}]
source_folder = {{ t.source_folder }}
object_folder = {{ t.object_folder }}
build_command = {{ t.build_command }}
  {%- for p in t.dxr_plugins -%}
  {% for (k,v) in p.iteritems() -%}
{%+ if k == 'plugin' %}
  [[{{ v }}]]
{%- endif -%}
  {% endfor -%}
{% for (k,v) in p.iteritems() -%}
{%+ if k != 'plugin' %}
    {{ k }} = {{ v }}
{%- endif -%}
{%- endfor %}
{%- endfor %}
{% endfor %}
