---
{%- for t in trees %}
- project:
    name: '{{ t.name }}'
    is_disabled: {{ t.disable }}
    proj_dir: '{{ t.proj_dir }}'
    schedule: '{{ t.schedule }}'
    quiet_period: {{ t.quiet_period }}
    docker_img: '{{ t.docker_img }}'
    docker_vol: '{{ t.docker_vol }}'
    mail_rcpts: {{ t.mail_rcpts }}
    job_weight: {{ t.job_weight }}
{%- if t.mozconfig %}
    mozconfig: '{% for m in t.mozconfig %}{{ m }}\n{% endfor %}'
{%- endif %}
    jobs:
        - "{name}_index"

- scm:
    name: '{{ t.name }}_scm'
    scm:
{%- for r in t.repos %}
      - {{ r.name }}
{%- endfor %}
{% for r in t.repos %}
- scm:
    name: '{{ r.name }}'
    scm:
      - {{ r.type }}:
          url: '{{ r.url }}'
{%- if r.type == 'hg' %}
          subdir: '{{ r.subdir }}'
          revision_type: '{{ r.revision_type }}'
          revision: '{{ r.revision }}'
{%- endif %}
{%- if r.type == 'git' %}
          basedir: '{{ r.basedir }}'
          skip-tag: true
{%- endif %}
{% endfor %}
{%- endfor %}
