[{{ es_name }}]
source_folder = {{ source_dest }}
object_folder = {{ object_dir }}
build_command = {{ build_command }}
{{ 'disabled_plugins = %s\n' % disabled_plugins if disabled_plugins -}}
{{ 'enabled_plugins = %s\n' % enabled_plugins if enabled_plugins -}}
{{ 'ignore_patterns = %s\n' % ignore_patterns if ignore_patterns -}}
{{ 'source_encoding = %s\n' % source_encoding if source_encoding -}}
[[buglink]]
url=http://bugzilla.mozilla.org/show_bug.cgi?id=%s
name=bugzilla.mozilla.org

